* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #388fe5;
  color: white;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 20px 0 40px 0;
  text-decoration: underline;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
}

.cell {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 60px;
  font-weight: 600;
  height: 120px;
  cursor: pointer;
}

.cell:nth-child(1n) {
  border-top: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(1n) {
  border-left: none;
}

.cell:nth-child(n + 7) {
  border-bottom: none;
}

.game-players {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.players {
  margin-inline: 18px;
  font-size: 24px;
  font-weight: 600;
}

.restartBtn {
  border: none;
  background: #5f5fcf;
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin-block: 18px;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.restartBtn:hover {
  background: #5fc45f;
}

.cell.disabled {
  background: #8d7d7d;
}

.alertBox {
  position: absolute;
  top: 0;
  background-color: orange;
  color: black;
  width: 100%;
  padding: 8px 12px;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  display: none;
}

@media screen and (max-width: 550px) {
  .gmae-board {
    grid-template-columns: repeat(3, minmax(80px, 1fr));
  }

  .container h1 {
    font-size: 24px;
  }

  .cell {
    height: 90px;
  }
}
