/* Default CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Page background color */
body {
  background-color: #0e1d70;

  text-align: center;
  margin-top: 400px;
}

/* Toast container - fixed position on screen */
#taost-container {
  position: fixed;
  /* Same place even if scroll */
  top: 20px;
  /* Distance from top */
  right: 20px;
  /* Distance from right */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Space between toasts */
  z-index: 1000;
  /* Toasts show above all */
}

/* Toast style (success by default) */
.toast {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #4caf50;
  /* Green success */
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;

  /* Animations */
  animation:
    slideIn 0.5s,
    fadeOut 0.5s 3s;
  opacity: 1;
}

/* Error toast style */
.toast.error {
  background-color: #f44336;
  /* Red error */
  border-radius: 5px;
}

/* Slide in animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    /* Start from outside screen */
  }

  to {
    transform: translateX(0);
  }
}

/* Fade out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
